extends layout

block content
		.jumbotron
			.container
				h1 How May I Help You?
				p Lorem ipsum lorem ipsum lorem ipsum lorem. Ipsum lorem
				a.btn.btn-primary.btn-lg(href='#') Learn more &raquo
		.container
			.row
				.col-md-4
					h2 About us
					p ipsum lorem. ipsum lorem. ipsum lorem. Coey Ghilarducci. Yo mama
					a.btn.btn-default(href="#") View Details
				.col-md-4
					h2 Services
					p ipsum lorem. ipsum lorem. ipsum lorem. Coey Ghilarducci. Yo mama
					a.btn.btn-default(href="#") View Details
				.col-md-4
					h2 Get In Touch
					p ipsum lorem. ipsum lorem. ipsum lorem. Coey Ghilarducci. Yo mama
					a.btn.btn-default(href="#") View Details

